@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.woff') format('woff'),
        url('../fonts/Inter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.woff') format('woff'),
        url('../fonts/Lato.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.woff') format('woff'),
        url('../fonts/Montserrat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
