@use '_variables';


.bank {
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }

    &__img {
        width: 120px;
        height: 100px;
        
        
    }

    &__main-information {
        padding-left: 15px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        letter-spacing: 0.035em;
    }

    &__another-information {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;

        .bank__list-container {
            padding-left: 25px;
        }

        .bank__list {
            margin: 0;
            padding: 0;
        }
        
    }
}

@media screen and (max-width: 992px) {
    .bank {
        &__main-information {
            
            font-size: 14px;
            line-height: 28px;
        }
    
        &__another-information {
            font-size: 14px;
            line-height: 18px;
        }
    }
}