@use '_variables';

.banner {
    height: 520px;
    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    color: white;   
    position: relative;

    

    &__content  {
        position: relative;
        width: 690px;
        padding-top: 115px;
        padding-left: 70px;
    }
    

    &__label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.005em;
        color: white;
        text-transform: none;
    }

    &__border {
        height: 4px;
        width: 350px;
        margin-left: 10px;
        background-color: variables.$border-color;
        margin-top: 5px;
    }

}

.banner:hover + .arrow__top::after {
    left: 0;
    transition-delay: 0.15s;
}

.banner:hover + .arrow__bottom::after {
    right: 0;
    transition-delay: 0s;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 835px;
        background-position: top 0px left -301px;

        &__content {
            padding-top: 45px;
            width: 375px;            
            margin: 0 auto;
            padding-left: 0;
        }

        &__label {
            font-size: 36px;
        } 

        &__border {
            position: absolute;
            bottom: 0;
            width: 320px;
            bottom: -10px;
            left: 10px;
            margin: 0;
        }
    }      
}

@media screen and (max-width: 428px) {
    .banner {
        &__content {            
            width: 300px;            
            
        }

        &__label {
            font-size: 30px;
            line-height: 1.4;
        } 
        &__border {            
            width: 250px;            
        }

        
    }      
}

