@use '_variables';

.banks {
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding: 50px 120px 15px 120px;
    }

    &__detailed-wrapper {
        padding-top: 20px;
        margin-bottom: 25px; 
    }

    a {
        padding: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        position: relative;
        color: black;
        text-decoration: none;

        &:after { 
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            background: none repeat scroll 0 0 transparent;
            height: 1px;
            width: 100%;
            background: variables.$border-color;;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
            
        &:hover::after { 
            width: 0; 
            left: 50%; 
        }

    }

    &__button {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .banks {

        &__title {
            font-size: 14px;
            line-height: 17px;
        }

        &__detailed {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 576px) {
    .banks {

        &__title {
            padding: 30px 50px 50px 50px;
        }

        &__detailed-wrapper {
            text-align: center;
        }
    }
}

@media screen and (max-width: 428px) {
    .banks {

        &__detailed {
            font-size: 12px;
        }
    }
}