@use '_variables';

.btn {
    background-color: transparent;
    border: 1px solid variables.$border-color;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;

    &_green {
        background-color: variables.$main-color;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px 45px;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        order: 2;
    }
}

@media screen and (max-width: 576px) {
    .btn {
        font-size: 15px;
        line-height: 18px;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 428px) {
    .btn {
        margin-left: 15px;
    }
}