/* 
--------------------------------
ФУТЕР
--------------------------------
*/
#footer {
    background:#3b3b3b;
    padding:50px 0;
    color:#DDDDDD;
}
#footer .footer_top {
    margin-bottom:40px;
    overflow:hidden;
}
#footer .footer_top ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
#footer .footer_top ul li {
    margin-bottom:8px;
}
#footer .footer_top ul.footer_menu li a {
    color:#CCCCCC;
    font-family:"OpenSans-Semibold";
    text-transform:uppercase;
    text-decoration:none;
}
#footer .footer_top ul.footer_menu li a:hover {
    color:#FFFFFF;
}
#footer .footer_top ul.footer_menu li ul {
    margin-top:15px;
}
#footer .footer_top ul.footer_menu li ul a {
    color:#999999;
    text-decoration:none;
    text-transform:none;
    font-family:"OpenSans";
}
#footer .footer_top ul.footer_menu li ul a:hover {
    color:#FFFFFF;
}
#footer .footer_top ul.footer_menu {
    display:block;
    box-sizing:border-box;
    width:20%;
    padding-right:30px;
    float:left;
}
#footer .footer_bottom .fb_right {
    float:right;
    width:50%;
    text-align:center;
}
#footer .footer_bottom .fb_right .item {
    display:inline-block;
    margin-left:30px;
    vertical-align:middle;
}
#footer .footer_bottom .fb_right .item.phone {
    font-size:1.5em;
}
#footer .footer_bottom .fb_left {
    margin-right:50%;
}
#footer .footer_bottom .fb_left .item {
    display:inline-block;
    margin-right:20px;
    vertical-align:top;
}
#footer .footer_bottom .fb_left .copyr {
    color:#888888;
    font-size:0.9em;
}
.mw {
    max-width:1200px;
    padding:0 15px;
    position:relative;
    margin:0 auto;
}