@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";
@import "./../../node_modules/bootstrap/scss/maps";
@import "./../../node_modules/bootstrap/scss/mixins";
@import "./../../node_modules/bootstrap/scss/utilities";

@import "./../../node_modules/bootstrap/scss/transitions";
@import "./../../node_modules/bootstrap/scss/nav";
 
@import '_variables';
@import '_fonts';
@import '_total';
@import '_header';
@import '_footer';
@import '_wrapper';
@import '_logo';
@import '_hamburger';
@import '_phone';
@import '_btn';
@import '_navigation';
@import '_banner';
@import '_advantages';
@import '_arrow';
@import '_section';
@import '_banks';
@import '_proposal';
@import '_bank';
@import '_project';
@import '_individual';
@import '_form';

